<!-- inspired by https://dribbble.com/shots/24579329-Refer-and-Earn-Modal -->
<div class="card">
  <div>
    <h1>Refer and Earn</h1>
    <p>Refer Friends, Earn Points and Fees</p>
  </div>
  <div class="flex-between">
    <div>
      <h2>Referral Code</h2>
      <div class="referral-code">
        <kbd>
          7D45564JK355
        </kbd>
        <button class='copy' aria-label="copy code">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
            <!-- Icon from IonIcons by Ben Sperry - https://github.com/ionic-team/ionicons/blob/main/LICENSE -->
            <rect width="336" height="336" x="128" y="128" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" rx="57" ry="57" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="m383.5 128l.5-24a56.16 56.16 0 0 0-56-56H112a64.19 64.19 0 0 0-64 64v216a56.16 56.16 0 0 0 56 56h24" />
          </svg>
        </button>
      </div>

    </div>
    <div class="referred-users">
      <h2>Referred Users</h2>
      <p class='user-count'>4</p>
    </div>
  </div>

  <div class='rewards'>
    <h2>Rewards</h2>
    <p>
      <span class="text-accent">20%</span> Platform Fees +
      <span class="text-accent">10%</span> Extra points
    </p>
  </div>

</div>