.settings-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.setting-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: var(--background-color-secondary);
}

.setting-item h3 {
  margin-top: 0;
  color: var(--text-color-primary);
}

.setting-item p {
    color: var(--text-color-secondary);
    margin-top: 10px; // Add some space above the paragraph if a component is above it
}

/* Toggle Switch Styles */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  // background-color: var(--primary-color);
  background-color: green
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
